<form action="/dishes/<%= @dish['id'] %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put">

  <p>
    <label for="">name</label>
    <input type="text" name="name" value="<%= @dish.name %>">
  </p>

  <p>
    <label for="">image</label>
    <input type="file" name="imageFile" id="imageFile">
  </p>
  
    <label>desciption</label>

    <textarea maxlength="400" rows="4" cols="50" name="description" form="newDish" input type="text" name="description">INGREDIENTS: oats, potatoes, water      METHOD: put everything in a pot and boil for a long time</textarea>

  <button>gruel it or lose it</button>
  
</form>
