
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<h1>HELLO</h1>
<div class="row">
  <% @dishes.each do |dish| %>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="<%= dish.image.url %>" alt="https://bacontime.files.wordpress.com/2013/01/gruel_004.jpg">
              <span class="card-title"><%= dish.name %></span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
