<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gruel Intentions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
</head>
<body>
	<div class="page-header"><a href="/" style="color: black; text-decoration: none;">
  <h1>Gruel Intentions<small>   the bowls of despair </small></h1></a>
</div>


	<%= erb :navigation %>

  <%= yield %>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>