

<h3>Log in with Face</h3>
<%= erb :fblogin %>


<h3>No. The Face is dead to me.</h3>
<form action="/session" method="post">
	<label for="">email</label>
	<input type="text" name="email">

	<label for="">password</label>
	<input type="password" name="password">

	<button>take me to the gruel</button>
</form>