
   	<!-- 	<form action="/user/new">
  		<button style="display: none;" name="signup">sign up</button>
			</form> -->

<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <% if logged_in? %>
              <a class="navbar-brand" href="/"><%= current_user.name %></a>
              <% end %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
  							
  							 <% if logged_in? == false %>
                <li><a href="/session/new">Login</a></li>
                <li><a href="/user/new">Sign Up</a></li>
								<li><a href="/session/new">I made a gruel</a></li>
								<li><a href="#">This week's top slops</a></li>
                <li><a href="#">* Meal of Fortune™ *</a></li>
                <% else %>
                <li><a href="/dishes/new">I did another gruel</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li><a href="#">My cookbook</a></li>
                    <li><a href="#">Top slops</a></li>
                    <li><a href="#">* Meal of Fortune™ *</a></li>
                    <li><a href="#">Festive treats</a></li>
                    <li><a href="#">Gruel for the Summer</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">I made a terrible mistake</li>
                    <li>
                    <form action="/session" method="post">
   								<input type="hidden" name="_method" value="delete">
   								<button>Get me out of here</button></li>
                  </ul>

                  
  								</form>

                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <% if logged_in? %>
	<div class="alert alert-warning alert-dismissable fade in" role="alert" data-dismiss="alert" aria-label="Close">
		<p>Welcome back <%= current_user.name %>. Never leave.</p> <span aria-hidden="true">&times;</span>
	</div>
	<% end %>
