<form action="/users" method="post">
	<label for="">email</label>
	<input type="text" name="email">

	<label for="">password</label>
	<input type="password" name="password">

	<label for="">name</label>
	<input type="text" name="name">

	<p>Write your password down because I can't send emails yet</p>
	
	<button>create new user</button>

</form>