<h3>Log in with Face</h3>
<%= erb :fblogin %>


<h3>No. The Face is dead to me.</h3>
<form action="/users" method="post">
	<label for="">email</label>
	<input type="text" name="email">

	<label for="">password</label>
	<input type="password" name="password">

	<label for="">name</label>
	<input type="text" name="name">

	<p>Write your password down because I can't send emails yet</p>
	
	<button>Create new grueler</button>

</form>