img {
  /*max-width: 100%;*/
  /*max-height: 100%;*/
}

ul li{
	display: inline-block;
}

.cardycard{
	display: inline-block;
	max-width: 20px;
}
h2{
	color: red;
}
.dishMenu{
	float: left;
}

#none{
	display: none;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.outer {
    height: 30em;
    width: 100%;
}
.main-page {
	display: block;
}
.card-img{
	height: 20em;
}
#text-container{
	margin-bottom: 20vw;
}


